@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* background-color: aliceblue; */
}

.main {
  min-height: 100%;
  width: 100%;
  position: relative;
}

.page-1-content {
  width: 100%;
  min-height: 100%;
  padding: 50px 120px;
  position: relative;
}

.pattern-1 {
  position: absolute;
  top: 100px;
  left: -40px;
  height: 110px;
  width: 110px;
  background: #3873400a;
  border-radius: 50%;
}

.pattern-2 {
  position: absolute;
  top: 120px;
  right: -130px;
  height: 285px;
  width: 281px;
  border-radius: 50%;
  background: #3873400a;
}

.header {
  width: 100%;
  z-index: 999;
}

.header h2 {
  font-size: 36px;
  text-align: center;
  color: #4e9459;
}

.header p {
  font-size: 6px;
  text-align: center;
  color: #4e9459;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.content-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.text-section {
  position: relative;
  top: 50px;
  width: 50%;
  overflow: hidden;
}

.heading-with-image {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.text-section h2 {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 2px;
}
.inline-image {
  width: 42px;
  height: auto;
}
.transition-text {
  width: 58.5%;
  display: flex;
  overflow: hidden;
}

.transition-text .beautiful {
  position: absolute;
  left: -300px;
}
.text-section h1 {
  font-size: 60px;
  font-weight: 700;
  color: #4e9459;
  letter-spacing: 2px;
}

.text-section button {
  width: 159px;
  height: 56px;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #4e9459;
  padding: 10px 20px 10px 20px;
  margin-top: 40px;
  border: 1.5px solid #4e9459;
  border-radius: 14px;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}

.image-section {
  position: relative;
  top: 25px;
  left: 50px;
  width: 50%;
  height: 100vh;
}

.image-frame-1 {
  position: absolute;
  height: 350px;
  width: 263px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  padding-top: 10px;
  padding-bottom: 28px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 4px 9.3px 0px #94949440;
  transform: rotate(-5.13deg);
  z-index: 999;
}

.image-frame-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #dfdfdf;
}

.image-frame-2 {
  position: absolute;
  left: 60px;
  height: 350px;
  width: 263px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  padding-top: 10px;
  padding-bottom: 28px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 4px 9.3px 0px #94949440;
  transform: rotate(7.96deg);
  z-index: 99;
}

.image-frame-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #dfdfdf;
}

.image-frame-3 {
  position: absolute;
  left: 120px;
  height: 350px;
  width: 263px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  padding-top: 10px;
  padding-bottom: 28px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 4px 9.3px 0px #94949440;
  transform: rotate(-1.72deg);
}

.image-frame-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #dfdfdf;
}

.image-section .whatsapp {
  position: absolute;
  top: 370px;
  right: 58px;
  width: 100px;
  height: 100px;
}

/* PAGE2 SECTION*/
.page-2-content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #111;
  position: relative;
  left: -18px;
  border-radius: 15px;
  padding: 50px 120px;
  padding-bottom: 120px;
  box-shadow: 0px 4px 20.2px 0px #b6b6b640;
}

.page-2-content .text-content {
  width: 90%;
  margin-top: 160px;
}
.page-2-content .text-content h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}

.page-2-content .text-content h1 {
  width: 80%;
  font-size: 35px;
  font-weight: 400;
  position: relative;
  left: 55px;
  margin-bottom: 30px;
}

.page-2-content .text-content span {
  color: #a8a8a8;
}

.line-text-section {
  position: relative;
  left: 60px;
  width: 100%;
  display: flex;
  /* align-items: center; */
  gap: 20px;
}

.line-text-section .divider {
  width: 8px;
  height: 0px;
  background-color: #4e9459;
  border-radius: 10px;
  transform-origin: top;
}

.line-text-section p {
  font-size: 20px;
  font-weight: 500;
}
#text-paragraph span {
  opacity: 0;
  display: inline-block;
}
.text-content-link {
  width: 100%;
  font-weight: 500;
  text-align: center;
  margin-top: 60px;
  color: #4e9459;
  cursor: pointer;
}

.text-content .text-content-link span {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #4e9459;
  font-size: 25px;
}

.text-content i {
  font-size: 25px;
  color: #4e9459;
}

.extended-line {
  width: 100%;
  border: 1px solid #4e9459;
  margin-top: 130px;
  margin-bottom: 50px;
}

.dotted-background {
  position: relative;
  width: 85%;
  height: 80vh;
  background-image: url("./images/dotted-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  overflow: hidden;
}

.dotted-background .video-container {
  position: absolute;
  top: 20px;
  right: 0;
  width: 400px;
  height: auto;
  max-height: max-content;
  overflow: hidden;
  /* border-radius: 14px; */
}

.video-container video {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* border-radius: 14px; */
}

.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  padding: 15px 20px 15px 20px;
  display: block;
  margin: 40px auto;
  color: #fff;
  border-radius: 14px;
  background: #4e9459;
  border: 1.5px solid #4e9459;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.btn i {
  font-size: 20px;
}

.page-3-content {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
}

.page-3-content h4 {
  font-size: 12px;
  text-align: center;
  color: #4e9459;
  letter-spacing: 3px;
  font-weight: 600;
}

.page-3-content h1 {
  text-align: center;
  color: #111;
  font-size: 30px;
  font-weight: 500;
}

.page-3-content h1 span {
  color: #4e9459;
}

.page-3-content .container {
  width: 96%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 30px;
  /* background-color: #f9f9f9; */
  margin: 0 auto;
}

.box {
  background-color: #4e9459;
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 1200px;
  min-height: 190px;
}

.page-3-content .container .box-1 {
  grid-column: span 2;
  background-color: #4e9459;
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1497387674890-4ecd2af62493?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-3-content .container .box-2 {
  grid-column: span 1;
  background-color: #333;
  color: white;
  padding: 20px;
  background: #4e9459;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.page-3-content .container .box-3 {
  grid-column: span 1;
  background-color: white;
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #d2d2d2;
}

.box-4 {
  grid-column: span 1;
  background-color: #fff;
  padding: 20px;
  color: #111;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #d2d2d2;
}

.box-5 {
  grid-column: span 1;
  background-color: white;
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #d2d2d2;
}

.box-2 img {
  height: 47px;
  width: 40px;
}

.box-2 h4 {
  color: white;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  text-align: center;
}

.box-2 p {
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
}

.box-3 img {
  height: 60px;
}

.box-3 h4 {
  font-size: 14px;
  color: #111;
  letter-spacing: 0px;
  font-weight: 500;
  margin-top: 8px;
}

.box-3 .tag {
  font-size: 12px;
  color: #999999;
  font-weight: 400;
}

.box-4 img {
  height: 60px;
}

.box-4 h4 {
  font-size: 14px;
  margin: 0 auto;
  color: #111;
  letter-spacing: 0px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 8px;
}

.box-4 .tag-1 {
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
  color: #999999;
  font-weight: 400;
}

.box-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-5 h1 {
  color: #4e9459;
  font-size: 35px;
  font-weight: 500;
}

.box-5 i {
  font-size: 45px;
  line-height: 35px;
}

/* PAGE 4 STARTED ------------------------------------------------------------------------------*/

.page-4-content {
  width: 100%;
  min-height: 100vh;
  margin-top: 150px;
  /* background-color: #6e6e6e; */
  overflow: hidden;
  position: relative;
}

.top-part {
  width: 100%;
  height: max-content;
  padding: 20px 0;
}

.page-4-content .top-part h4 {
  font-size: 14px;
  color: #4e9459;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.page-4-content .top-part h2 {
  font-size: 35px;
  /* color: #111; */
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  /* margin-bottom: 50px; */
}
.image-text-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  gap: 50px;
  /* background-color: #333; */
  padding: 50px 0;
}
.left {
  /* width: 50%; */
  max-height: 100vh;
  margin-top: 20px;
  position: sticky;
}
.left img {
  width: 450px;
  /* height: 330px; */
  display: block;
}

.text-container {
  width: 35%;
  min-height: 100vh;
}
.text-part {
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-bottom: 50px; */
}

.image-text-container .text-container h4 {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #387341;
  text-align: start;
}

.image-text-container .text-container .text {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #999999;
  text-align: start;
  margin-top: 12px;
  margin-bottom: 65px;
}

.image-text-container .text-container a {
  font-size: 18px;
  color: #4e9459;
  text-decoration: none;
}

.image-text-container .text-container a span {
  text-decoration: underline;
  font-weight: 500;
}

.image-text-container .text-container a i {
  font-size: 20px;
  text-decoration: none;
  color: #4e9459;
}

.page-4-content .pattern-1 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -30px;
  left: -100px;
}

.page-4-content .pattern-2 {
  width: 150px;
  height: 150px;
  position: absolute;
  right: -40px;
  top: 150px;
}

/* PAGE 5 STARTED */
.page-5-content {
  width: 100%;
  height: 100vh;
  color: #111;
  position: relative;
  /* top: 50vh; */
}

.page-5-content .heading {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
  color: #4e9459;
  margin-top: 100px;
  margin-bottom: 80px;
}

.page-5-content .text-bucket {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 50px;
}

.pricing-offer {
  width: 30%;
}

.pricing-offer h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
}

.pricing-offer h1 img {
  width: 40px;
  line-height: 40px;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
}

.pricing-offer span {
  color: #4e9459;
  position: relative;
}

.pricing-offer span::after {
  content: "";
  display: inline-block;
  background-image: url("./images/underline.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 170px;
  height: 40px;
  position: absolute;
  top: 46px;
  left: 148px;
}

.pricing-offer-details button {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #4e9459;
  padding: 15px 30px 15px 30px;
  border: 1.5px solid #4e9459;
  border-radius: 14px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.pricing-offer-details button i {
  font-size: 20px;
  font-weight: 400;
  vertical-align: middle;
}

.pricing-offer-details a {
  font-size: 18px;
  color: #666666;
  margin-left: 30px;
}
.offer-details {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 28px;
}

.offer-details button {
  background: #fff;
  color: #4e9459;
  padding: 6px 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4.2px 0px #00000040;
  border: none;
  margin-right: 12px;
}

.offer-details h4 {
  font-size: 16px;
  color: #666666;
  font-weight: 400;
}

.dingling-arrow {
  position: absolute;
  left: 520px;
  top: 88px;
  width: 140px;
  height: auto;
}

/* PAGE 6 STARTED */

.page-6-content {
  width: 100%;
  min-height: 100vh;
  position: relative;
  /* top: 50vh; */
  padding: 20px;
  /* background-color: yellow; */
}

.page-6-content .heading-1 {
  font-size: 14px;
  color: #387341;
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.query-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
}
.accordion {
  width: 40%;
}

.accordion a {
  color: #666666;
  text-align: center;
}
.accordion .show-more {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.accordion-item {
  margin-bottom: 10px;
  border-radius: 5px;
  border-bottom: 1px solid #959595;
}

.accordion-header {
  padding: 15px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #959595;
}

.accordion-header .toggle-icon {
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}

.accordion-content {
  display: none;
  padding: 15px;
  background-color: #fff;
}

.accordion-content p {
  margin: 0;
  font-size: 16px;
  color: #959595;
}

.accordion-item.active .accordion-content {
  display: block;
}

.accordion-item.active .toggle-icon {
  transform: rotate(180deg);
}

.query-content .more-query {
  width: 24%;
  height: 80%;
}

.more-query h1 {
  font-weight: 500;
  margin-bottom: 15px;
}

.more-query h4 {
  font-size: 14px;
  color: #387341;
  font-weight: 500;
  margin-bottom: 40px;
  position: relative;
}

.more-query h4::after {
  content: "";
  display: inline-block;
  background-image: url("./images/dingling-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 40px;
  position: absolute;
  top: 55px;
  left: 120px;
  transform: rotate(140deg);
}

.more-query button {
  color: #fff;
  background-color: #4e9459;
  padding: 10px 20px 10px 20px;
  border: 1.5px solid #4e9459;
  border-radius: 14px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

/* PAGE 7 STARTED */

.page-7-content {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 20px 0;
}

.page-7-content h4 {
  font-size: 14px;
  color: #4e9459;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.page-7-content .tagline {
  font-size: 35px;
  color: #111;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

.page-7-content .reviews-content {
  position: relative;
  /* right: -40px; */
  display: flex;
  justify-content: space-evenly;
  width: max-content;
  height: 43%;
  overflow: hidden;
  animation: scroll-horizontal-right 20s linear infinite;
}

.reviews-content .palette {
  width: 380px;
  min-height: 100%;
  border-radius: 18px;
  padding: 15px 20px;
  transform: rotate(-3deg);
  box-shadow: 0px 6px 24px 0px #4e4e4e05;
  border: 1px solid #4e4e4e1f;
  font-family: Kumbh Sans;
  font-weight: 400;
  margin-left: 20px;
  will-change: transform;
}
@keyframes scroll-horizontal-right {
  0% {
    transform: translateX(calc(-100% + 218vh));
  }
  100% {
    transform: translateX(0%);
  }
}
.palette .header-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.palette .review {
  width: 95%;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #6e6e6e;
  text-align: start;
  margin: 18px auto;
}

.text-ball-container {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.text-ball-container h2 {
  font-size: 20px;
  font-weight: 400;
  color: #6e6e6e;
}
.text-ball-container .ball {
  position: relative;
  top: -22px;
  height: 60px;
  width: 60px;
  background: #d9d9d9;
  border-radius: 50%;
  vertical-align: middle;
}

.palette .header-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-row {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: max-content;
  height: 43%;
  margin-top: 60px;
  animation: scroll-horizontal 10s linear infinite;
}

.palette-1 {
  width: 380px;
  min-height: 100%;
  border-radius: 18px;
  padding: 15px 20px;
  transform: rotate(-3deg);
  box-shadow: 0px 6px 24px 0px #4e4e4e05;
  border: 1px solid #4e4e4e1f;
  font-family: Kumbh Sans;
  font-weight: 400;
  margin-right: 20px;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 218vh));
  }
}

.palette-1 .header-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.palette-1 .review {
  width: 95%;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #6e6e6e;
  text-align: start;
  margin: 18px auto;
}

.page-7-content button {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #4e9459;
  padding: 15px 30px 15px 30px;
  border: 1.5px solid #4e9459;
  border-radius: 14px;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.page-7-content button i {
  font-size: 20px;
  font-weight: 400;
  vertical-align: middle;
}

.page-8-content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* top: 50vh; */
}

.image-text-content {
  width: 75%;
  height: 340px;
  background: #ffffff;
  margin: 0 auto;
  border-radius: 80px;
  margin-top: 100px;
  border: 1px solid #d7d7d7;
  box-shadow: 0px -2px 47px -21px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-tag-content {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
}
.image-tag-content .winks {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 25px;
  top: -50px;
}
.image-tag-content img {
  width: 78%;
  z-index: 9;
}

.image-tag-content button {
  position: absolute;
  font-size: 16px;
  color: #4e9459;
  border: none;
  background: #fff;
  border: 0.5px solid #0000000d;
  border-radius: 14px;
  box-shadow: 68px 10px 30px 0px #4545450d;
  padding: 10px 15px;
  z-index: 99;
}

.image-tag-content .tag-1 {
  position: absolute;
  left: 0px;
  top: 40px;
}

.image-tag-content .tag-2 {
  position: absolute;
  left: 10px;
  top: 130px;
}

.image-tag-content .tag-3 {
  position: absolute;
  right: 40px;
  top: 100px;
}
.laptop-content {
  position: absolute;
  top: 20px;
  left: 98px;
  width: 73%;
}

.download-text {
  width: 40%;
  height: 85%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.download-text h4 {
  font-size: 14px;
  color: #4e9459;
  font-weight: 500;
  text-transform: uppercase;
}

.download-text h2 {
  font-size: 20px;
  font-weight: 500;
}

.download-text p {
  font-size: 12px;
  font-weight: 400;
  color: #959595;
}

.download-text button {
  background-color: #fff;
  color: #4e9459;
  padding: 10px 15px;
  border-radius: 14px;
  border: 1.5px solid #4e9459;
}

.footer {
  position: absolute;
  top: 180px;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
  background-color: #4e9459;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.about {
  width: 30%;
  /* height: 100%; */
}

.about img {
  width: 140px;
}

.about p {
  width: 75%;
  font-size: 10px;
  color: #fff;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 25px;
}

.about h4 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
}

.about .logos {
  width: 60%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.about .logos .logo {
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container .quick-links {
  width: 10%;
  height: 100%;
}

.quick-links .title {
  font-size: 16px;
  color: #fff;
}

.quick-links i {
  font-size: 18px;
  margin-right: 10px;
}

.links-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 35px;
  margin-top: 20px;
}

.links-container .line {
  height: 200px;
  border: 0.5px solid transparent;
  border-image: linear-gradient(to bottom, #ffffffe0, #ffffff71, #ffffff45) 0.6;
}

.links-container .links {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: start;
  color: #fff;
}

.links .link-1 {
  font-size: 12px;
  font-weight: 600;
}

.links .link-2 {
  font-size: 12px;
  font-weight: 600;
  color: #ffffffa3;
}

.links .link-3 {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff69;
}

.links .link-4 {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff48;
}

.footer-container .contact-us {
  width: 30%;
  height: 100%;
  margin-left: 40px;
}

.contact-us .title {
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details h4 {
  font-size: 12px;
  color: #ffffff9c;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 6px;
}

.details h3 {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.move-to-top {
  position: relative;
  top: 300px;
  left: 600px;
  border: none;
  border-radius: 50%;
  color: #4e9459;
  width: 60px;
  height: 60px;
  background-color: #fff;
  cursor: pointer;
  display: block;
  z-index: 999;
}

.move-to-top i {
  font-size: 24px;
  font-weight: 300;
}

.copyright {
  width: 100%;
  position: relative;
  top: 160px;
  height: 70px;
  background-color: #4e9459;
  border-top: 0.5px solid rgba(255, 255, 255, 0.486);
  display: flex;
  color: #fff;
  padding: 0 100px;
  justify-content: space-between;
  align-items: center;
}

.copyright .text-1 i {
  font-size: 12px;
  font-weight: 400;
}

.copyright .text-1 p {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
}

.copyright .text-1 p span {
  font-size: 12px;
  font-weight: 500;
}

.copyright .text-2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.copyright .text-2 p {
  font-size: 12px;
  font-weight: 300;
}

.copyright .text-2 li {
  font-size: 12px;
  font-weight: 300;
}
